body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 0px;
    border-style: solid;
    border-color: red;
}
    .background {
        background-color: black;
    }
        .wrapper {
            background-color: white;
            border-color: rgb(224, 224, 224);
            border-style: solid;
            width: 750px;
            height:unset;
            padding: 0px;
        }
            .header {
                border-top: 1px;
                border-top-style: solid;
                border-top-color: rgba(184, 184, 184, 0.429);
                display: flex;
                justify-content: space-between;
            }
                .top-left {
                    display:flex;
                }
                    .logo img {
                        height: 60px;
                        width: 60px;
                        padding: 20px 5px 10px 20px;
                    }
                    .headline {
                    }
                    h2 {
                        font-size: 25px;
                        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    }
                    h3 {
                        font-size: 23px;
                        margin-top:-15px;
                        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    }
                    .top-right img {
                        height: 60px;
                        width: 60px;
                        padding: 20px 5px 10px 0px;
                    }
            .post img {
                max-width: 750px;
            }
            .footer {
            padding: 20px 20px 20px 20px;
            }
                .buttons {
                    justify-content: space-between;
                    display: flex;
                    margin-top: -10px;
                    margin-bottom: -10px
                }
                .buttons img{
                    height: 50px;
                    width: 50px;
                }
                .left-buttons img{
                    padding-right: 12px;
                }
                .right-buttons {
                    padding-right: 10px;
                }
            p {
                font-size: 24px;
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            .comment-amount {
                margin-top: -15px;
                margin-bottom: -15px;
            }
            .caption {
                margin-top: -15px;
                
            }
            .caption img {
                height: 20px;
                width: 20px;
            }
            .comments {
                width: 650px;
            }
            .comment img {
                height: 20px;
                width: 20px:
            }
            .comment {
                margin-bottom: -15px;
            }
            h1 {
                font-size: 50px;
                padding-bottom: 0px;
            }
            .page-title {
                margin-bottom: -15px;
                margin-top: -45px;
                padding: 15px 50px 0px 20px;
                border-bottom:0px;
                border-color:rgb(167, 159, 159);
                border-style: inset;
            }
            div {
                border: 0px;
                border-color: red;
                border-style:solid;
            }